.resume-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.625rem 1.25rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-family: var(--font-sans);
  transition: filter 0.15s ease;
  gap: 0.3125rem;
  background-image: linear-gradient(to bottom, var(--primary-color-500), var(--primary-color-550));
}

.dialog-title {
  margin-inline-end: auto;
}

.resume-trigger:hover {
  filter: brightness(110%);
}

.resume {
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-sans);
    font-size: 1.25em;
  }

  h5 {
    letter-spacing: normal;
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.75em;
    font-style: italic;
    font-family: var(--font-sans);
    letter-spacing: normal;
    margin-top: 0.125rem;
  }

  p {
    font-family: var(--font-display);
    font-style: italic;
    margin-top: 2px;
  }

  section {
    margin: 1.375rem 0 0.5rem;
  }

  article {
    margin: 0.75rem 0 0;
  }

  small {
    display: inline-block;
    margin-top: 0.25rem;
    font-size: 0.9375em;
  }

  a {
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: var(--primary-color-500);
    text-underline-offset: 0.25rem;
  }

  a:hover {
    text-decoration-color: var(--primary-color-550);
  }
}

.contact-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  gap: 0.25rem 0.75rem;

  li {
    font-weight: 700;
  }
}

@media screen and (width <= calc(56rem + 1rem)) {
  .contact-details {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .dialog-title {
    font-size: 1.625rem;
  }

  .resume {
    font-size: 0.9375rem;
  }
}

article ul {
  all: revert;
  margin: 0;
  padding: 0 1rem;
}

.done {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, var(--primary-color-550) 55%, white);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.25rem;
  text-decoration-style: dotted;
}