.hero {
  margin: 25vh auto 0;
  padding: 1rem;
  max-width: 768px;
  color: var(--text-color);
  text-align: center;
}

.title {
  font-size: 2.75rem;
  font-weight: 800;
  font-family: var(--font-display);
}

.secondary-color {
  color: var(--text-secondary);
}

.description {
  font-size: 1.25rem;
  margin: 1rem 0 2rem;
  font-family: var(--font-display);
}

.call-to-action {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.call-to-action > button {
  border-radius: 9px;
}

.contact {
  color: var(--text-color);
  transition: color 0.2s ease;
}

:root[data-theme="dark"] .contact {
  --text-color: #bdbdbd;
}

:root[data-theme="light"] .contact {
  --text-color: var(--text-secondary);
}

:root[data-theme="dark"] .contact:hover {
  --text-color: whitesmoke;
}

:root[data-theme="light"] .contact:hover {
  --text-color: var(--text-color);
}

@media screen and (width >= calc(768px + 1rem)) {
  .hero {
    text-align: start;
  }
  
  .title-hi {
    display: none;
  }

  .title {
    font-size: 4rem;
  }

  .description {
    font-size: 1.375rem;
  }

  .call-to-action {
    flex-direction: row;
  }
}