.lightbox {
  display: flex;
  gap: 0.625rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  border-radius: 0.625rem;
  padding: 0;
  position: relative;
}

.lightbox img {
  object-fit: cover;
  scroll-snap-align: center;
  transition: scale var(--transition-duration) ease-in-out;
  border-radius: 0.625rem;
  position: relative;
}
