@font-face {
  font-family: Canela;
  src: url('/src/assets/fonts/Canela/Canela-ThinItalic.woff2') format('woff2'),
    url('/src/assets/fonts/Canela/Canela-ThinItalic.woff') format('woff');
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Canela;
  src: url('/src/assets/fonts/Canela/Canela-Thin.woff2') format('woff2'),
    url('/src/assets/fonts/Canela/Canela-Thin.woff') format('woff');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {  
  font-family: Canela;
  src: url('/src/assets/fonts/Canela/Canela-LightItalic.woff2') format('woff2'),
    url('/src/assets/fonts/Canela/Canela-LightItalic.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {  
  font-family: Canela;
  src: url('/src/assets/fonts/Canela/Canela-Light.woff2') format('woff2'),
    url('/src/assets/fonts/Canela/Canela-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {  
  font-family: Canela;
  src: url('/src/assets/fonts/Canela/Canela-RegularItalic.woff2') format('woff2'),
    url('/src/assets/fonts/Canela/Canela-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {  
  font-family: Canela;
  src: url('/src/assets/fonts/Canela/Canela-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Canela/Canela-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {  
  font-family: Canela;
  src: url('/src/assets/fonts/Canela/Canela-MediumItalic.woff2') format('woff2'),
    url('/src/assets/fonts/Canela/Canela-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {  
  font-family: Canela;
  src: url('/src/assets/fonts/Canela/Canela-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/Canela/Canela-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {  
  font-family: Canela;
  src: url('/src/assets/fonts/Canela/Canela-BoldItalic.woff2') format('woff2'),
    url('/src/assets/fonts/Canela/Canela-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {  
  font-family: Canela;
  src: url('/src/assets/fonts/Canela/Canela-Bold.woff2') format('woff2'),
    url('/src/assets/fonts/Canela/Canela-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {  
  font-family: Canela;
  src: url('/src/assets/fonts/Canela/Canela-BlackItalic.woff2') format('woff2'),
    url('/src/assets/fonts/Canela/Canela-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

@font-face {  
  font-family: Canela;
  src: url('/src/assets/fonts/Canela/Canela-Black.woff2') format('woff2'),
    url('/src/assets/fonts/Canela/Canela-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {  
  font-family: "NB International Pro";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProLightItalic.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProLightItalic.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {  
  font-family: "NB International Pro";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProLight.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProLight.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {  
  font-family: "NB International Pro";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProItalic.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProItalic.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {  
  font-family: "NB International Pro";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProRegular.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProRegular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {  
  font-family: "NB International Pro";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProBoldItalic.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProBoldItalic.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {  
  font-family: "NB International Pro";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProBold.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {  
  font-family: "NB International Pro Mono";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProMono.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProMono.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
