.icon-button, .trigger {
  color: inherit;
}

.theme-toggle {
  display: inline flex;
  color: var(--text-color);
}

.icon-button {
  padding: 0.375rem;
}

.trigger {
  padding: 0.375rem 0.125rem;
}

.filled {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 0.375rem;
  transition: border-color var(--transition-duration) ease;
  overflow: hidden;

  .icon-button, .trigger {
    background-color: inherit;
    transition: background-color, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: ease;
  }

  .icon-button:hover,
  .trigger:hover,
  .icon-button:focus-visible,
  .trigger:focus-visible,
  .trigger[data-state="open"] {
    background-color: var(--hover-background);
  }
}

.content {
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
  padding: 0.375rem 0;
  transform-origin: var(--radix-select-transform-origin);
  background-color: var(--background-color);
  min-width: 120px;
  animation: fade-content-in 200ms cubic-bezier(0.16, 1, 0.3, 1);
  isolation: isolate;
  z-index: 1;
}

.content[data-side="bottom"] {
  --translate-y: -0.625rem;

  margin-top: 4px;
}

.content[data-side="top"] {
  --translate-y: 0.625rem;
  
  margin-bottom: 4px;
}

.content[data-state="closed"] {
  animation-name: fade-content-out;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.125rem 1rem 0.125rem 0.5rem;
  width: 100%;
  color: var(--muted-text);
}

.item:hover {
  background-color: var(--hover-background);
  color: var(--text-color);
}

.item[aria-current="true"] {
  font-weight: 700;
  color: var(--text-color);
}

.check-icon {
  font-size: 1.25rem;
  color: #19911a;
}

@keyframes fade-content-in {
  0% {
    opacity: 0;
    transform: scale(0.96) translate3d(0, var(--translate-y), 0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-content-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0.96) translate3d(0, calc((var(--translate-y)) / 2), 0);
  }
}
