.fieldset,
.input,
.textarea {
  all: unset;
  font-size: 0.9375rem;
}

.fieldset {
  gap: 0.25rem 0.75rem;
  margin-bottom: 0.9375rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  font-weight: 400;
  font-family: var(--font-display);
}

.input {
  flex: 1;
}

.input,
.textarea {
  width: 100%;
  border-radius: 0.375rem;
  padding: 0.625rem;
  background-color: var(--background-color);
  line-height: 1;
  border-color: var(--border-color);
  resize: vertical;
  color: var(--text-color);
  box-shadow: 0 0 0 1px var(--border-color);
  transition: box-shadow 150ms ease;
}

.fieldset.error:not(:last-of-type) {
  margin-bottom: 1.75rem;
}

.textarea:focus,
.input:focus {
  box-shadow: 0 0 0 1px var(--border-color), 0 0 0 2px var(--primary-color-550);
}

.footer {
  display: flex;
  gap: 1rem;
}

.submit-button {
  margin-inline-start: auto;
  color: white;
  background-image: linear-gradient(to bottom, var(--primary-color-500), var(--primary-color-550));
}

.submit-button:focus-visible {
  outline: 2px solid var(--primary-color-550);
  outline-offset: 1px;
}

.resume:hover {
  filter: brightness(110%);
}

.submit-button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.validation-error {
  width: 100%;
  font-size: 0.75rem;
  color: brown;
  letter-spacing: 0.025em;
  position: absolute;
  top: 100%;
  margin-top: 0.25em;
}

.success {
  color: #129211;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--font-display);
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.success svg {
  font-size: 1.25rem;
  min-width: max-content;
}

.recaptcha {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}