.go-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 0.625rem 1.125rem 0.625rem 0.625rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-family: var(--font-sans);
  transition: padding 0.3s ease;
  gap: 0.3125rem;
}

.go-button .icon {
  transform: translate3d(-0.625rem, 0, 0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s cubic-bezier(0.16, 1, 0.2, 1);
}

.go-button .text {
  transform: translate3d(-0.3125rem, 0, 0);
  transition: transform 0.3s ease;
}

.go-button:hover .icon,
.go-button[data-loading="true"] .icon {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.go-button:hover .text,
.go-button[data-loading="true"] .text {
  transform: translate3d(0, 0, 0);
}