.go-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1.125rem;
  border: none;
  border-radius: 0.25rem;
  gap: 0.3125rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  min-width: max-content;
}

.icon {
  opacity: 0;
  transition: transform var(--transition-duration) ease, opacity var(--transition-duration) ease;
}

.text {
  transition: transform var(--transition-duration) ease;
}

.right .text {
  transform: translate3d(0.625rem, 0, 0);
}

.left .text {
  transform: translate3d(-0.625rem, 0, 0);
}

.go-button:hover .text,
.go-button.loading .text {
  transform: translate3d(0, 0, 0);
}

.right-icon {
  transform: translate3d(0.625rem, 0, 0);
  composes: icon;
}

.left-icon {
  transform: translate3d(-0.625rem, 0, 0);
  transform-origin: left;
  composes: icon;
}

.go-button:hover .icon,
.go-button.loading .icon {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}