.floating-header {
  position: fixed;
  display: flex;
  padding: 0.25rem 0.5rem;
  left: 0.375rem;
  right: 0.375rem;
  gap: 1.25rem;
  align-items: center;
  border-radius: 0.75rem;
  max-width: 600px;
  margin: 0.375rem auto;
  overflow: hidden;
  border: 1px solid transparent;
}

:root[data-theme="dark"] .floating-header {
  border-color: #00000060;
}

:root[data-theme="light"] .floating-header {
  border-color: #ffffff70;
}

.floating-header::before {
  position: absolute;
  inset: 0;
  content: '';
  background: var(--background-color);
  z-index: -1;
  opacity: 30%;
  backdrop-filter: blur(2px);
  transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
}

.navigation {
  display: flex;
  align-items: center;
  color: var(--text-color);
  justify-content: space-between;
  flex: 1;
  gap: 2rem;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (width <= calc(600px + 1rem)) {
  .floating-header {
    bottom: 0;
    top: auto; 
  }
}