@import url("@fontsource/inter/900.css");
@import url("@fontsource/inter/900-italic.css");
@import url("@fontsource/inter/800.css");
@import url("@fontsource/inter/800-italic.css");
@import url("@fontsource/inter/700.css");
@import url("@fontsource/inter/700-italic.css");
@import url("@fontsource/inter/600.css");
@import url("@fontsource/inter/600-italic.css");
@import url("@fontsource/inter/500.css");
@import url("@fontsource/inter/500-italic.css");
@import url("@fontsource/inter/400.css");
@import url("@fontsource/inter/400-italic.css");
@import url("@fontsource/inter/300.css");
@import url("@fontsource/inter/300-italic.css");
@import url("@fontsource/inter/200.css");
@import url("@fontsource/inter/200-italic.css");
@import url("@fontsource/inter/100.css");
@import url("@fontsource/inter/100-italic.css");

@font-face {  
  font-family: "NB International Pro";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProLightItalic.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProLightItalic.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {  
  font-family: "NB International Pro";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProLight.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProLight.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {  
  font-family: "NB International Pro";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProItalic.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProItalic.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {  
  font-family: "NB International Pro";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProRegular.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProRegular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {  
  font-family: "NB International Pro";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProBoldItalic.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProBoldItalic.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {  
  font-family: "NB International Pro";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProBold.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {  
  font-family: "NB International Pro Mono";
  src: url('/src/assets/fonts/NBInternationalPro/NBInternationalProMono.woff2') format('woff2'),
    url('/src/assets/fonts/NBInternationalPro/NBInternationalProMono.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
} 